[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peltak = {editable = true, path = "."}

[dev-packages]
coverage = "~=5.3"
factory-boy = "~=2.11"
more-itertools = "<=5.0.0"
mypy = {version = "==0.790",markers = "python_version >= '3.5'"}
psutil = "~=5.7.3"
pycodestyle = "~=2.6.0"
pylint = "~=2.6.0"
pytest = "~=6.1.2"
pytest-cov = "~=2.10.1"
pytest-sugar = "~=0.9.4"
Sphinx = ">=3.3.1"
sphinx-refdoc = "~=0.3.0"
sphinx-rtd-theme = "~=0.2"
sphinxcontrib-plantuml = "~=0.17.1"
requests = "~=2.25.0"
typed-ast = {version = "==1.4.0",markers = "python_version >= '3.3'"}


[requires]
python_version = "3.6"
