#!/bin/bash

{% set proj_name = 'peltak-todos' %}


{% set cov_html_path = conf.build_dir  + '/coverage' %}

{% if opts.kind in ('all', 'doctest') %}
  {{ "Running doctests" | header }}
  pytest \
    --doctest-modules \
    --doctest-report ndiff \
    {{ ctx.verbose | count_flag('v') }} \
    {{ '-p no:sugar' if opts.no_sugar else '' }} \
    src/{{ proj_name }} docs/src

  # We do not fail if there are not doctests (would prevent running tests below).
  if [ $# -ne 0 ] && [ $# -ne 5 ]; then
    exit 127
  fi
{% endif %}

set -e

{% if opts.kind != 'doctest' %}
  {{ "Running tests" | header }}
  pytest \
    --cov=src/{{ proj_name }} \
    --cov-report=term:skip-covered \
    --cov-report=html:{{ cov_html_path }} \
    {{ '--cov-report=xml' if opts.cov_xml else '' }} \
    {{ ctx.verbose | count_flag('v') }} \
    {{ '-p no:sugar' if opts.no_sugar else '' }} \
    tests
{% endif %}


{% if opts.kind != 'doctest' %}
  {% set cov_path = proj_path(cov_html_path, 'index.html') %}
  {{ '\n<32>HTML report: <34>file://{}' | cprint(cov_path) }}
{% endif %}

