#!/bin/bash
set -e

{{ 'mypy' | header }}
pipenv run mypy --ignore-missing-imports {{ files | wrap_paths }}

{{ 'pep8' | header }}
pipenv run pep8 --config ops/tools/pep8.ini {{ files | wrap_paths }};

{{ 'pylint' | header }}
pipenv run pylint --rcfile ops/tools/pylint.ini {{ files | wrap_paths }}

{{ 'done' | header }}
