#!/bin/bash
set -e

{# --cov        source dir                  out dir #}
{% set cov_config = {
  'all':      ('src/peltak',                '/coverage'),
  'core':     ('src/peltak/core',           '/coverage/core'),
  'extra':    ('src/peltak/extra',          '/coverage/extra'),
  'scripts':  ('src/peltak/extra/scripts',  '/coverage/extra/scripts'),
}.get(opts.cov, ('', ''))  %}

{% if not cov_config %}
  {{ "<31>Invalid <35>--cov <31>option value: <33>{}" | cprint(opts.cov) }}
  exit 1
{%  endif %}

{% set cov_path = cov_config[0] %}
{% set cov_html_path = cov_config[1] %}

pytest \
    -c ops/tools/pytest.ini \
    --cov-config=ops/tools/coverage.ini \
    --cov={{ cov_path }} \
    --cov-report=term \
    --cov-report=html:{{ cov_html_path }} \
    {{ ctx.verbose | count_flag('v') }} \
    {{ '-p no:sugar' if opts.no_sugar else '' }} \
    test/unit

{% set cov_path = proj_path(cov_html_path, 'index.html') %}
{{ '<32>HTML report: <34>file://{}' | cprint(cov_path) }}
