#!/bin/bash
set -e

{% if files %}
  {{ 'mypy' | header }}
  mypy --ignore-missing-imports {{ files | wrap_paths }}

  {{ 'pep8' | header }}
  pep8 --config ops/tools/pep8.ini {{ files | wrap_paths }};

  {{ 'pylint' | header }}
  pylint --rcfile ops/tools/pylint.ini {{ files | wrap_paths }}

  {{ 'done' | header }}
{% else %}
  {{ '<90>No relevant staged files - skipping lint...' | cprint }}
{% endif %}
