#!/bin/bash
set -e

pipenv run pytest \
-c ops/tools/pytest.ini \
--cov-config=ops/tools/coverage.ini \
--cov=src/peltak/core \
--cov-report=term \
--cov-report=html:{{ conf.build_dir }}/coverage/core \
test/unit

{% set cov_path = proj_path(conf.build_dir, 'coverage/core/index.html') %}
{{ '<32>HTML report: <34>file://{}' | cprint(cov_path) }}
